*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





body{
  height: 100vh;
  background-image:;
  background: linear-gradient(39deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.31416316526610644) 1%), url('./assets/bg.gif') ;
  overflow: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  
  display: flex;
  justify-content: center;
  align-items: center;

  // забороняє виділяти елементи і при клікі забирає колір
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

::-webkit-scrollbar {
  background-color: transparent;
  display: none;
  opacity: 0;
  width: 0;
}
.wrap{
  backdrop-filter: blur(10px);
  padding: 10px;
}

.text {
  animation: sTransition 30s linear infinite;
  background: linear-gradient(to right,
  rgb(76, 217, 105),
  rgb(52, 170, 220),
  rgb(88, 86, 217),
  rgb(255, 45, 83),
  rgb(255, 45, 83),
  rgb(88, 86, 217),
  rgb(52, 170, 220),
  rgb(76, 217, 105)
  );
  background-size: 400%;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, .1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
  font-size: calc(30px + 16 * (100vw / 1280));
  font-weight: 700;


}

#player-container #play-pause {
  cursor: pointer;
  text-indent: -999999px;
  height:60px;
  width: 60px;
  padding: 12px 18px;
  z-index: 2;
    background-image: url('./assets/play.png');
    background-repeat: no-repeat!important;
    background-position: center;
    background-size: 40px;
  background-repeat:no-repeat;
  background-position:center;
  background-size:60px;
  background-color: transparent;
  box-shadow: 0 0 0 rgba(243, 242, 240, 0.721);
  animation: pulse 2s infinite;
  border-radius: 50%; 
}

#player-container #play-pause:hover{
  animation: none;
}
.play {
  background-image: url(./assets/play.png);
  margin: 20px auto;
}
.pause {
   background-image: url(./assets/stop.png)!important;
   margin: 20px auto;
}

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}


@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(237, 235, 225, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 20px rgba(236, 243, 241, 0.366);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(201, 158, 90, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(44, 204, 164, 0.4);
    box-shadow: 0 0 0 0 rgba(44, 188, 204, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 20px rgba(204, 119, 44, 0);
      box-shadow: 0 0 0 20px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

@keyframes sTransition {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}